<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="InfanteEditDlg" widgetVar="InfanteEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditInfanteTitle}">
            <h:form id="InfanteEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{infanteController.selected != null}">
                        <p:outputLabel value="#{bundle.EditInfanteLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{infanteController.selected.nombre}" title="#{bundle.EditInfanteTitle_nombre}" required="true" requiredMessage="#{bundle.EditInfanteRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.EditInfanteLabel_edad}" for="edad" />
                        <p:inputText id="edad" value="#{infanteController.selected.edad}" title="#{bundle.EditInfanteTitle_edad}" required="true" requiredMessage="#{bundle.EditInfanteRequiredMessage_edad}"/>
                        <p:outputLabel value="#{bundle.EditInfanteLabel_identificacion}" for="identificacion" />
                        <p:inputText id="identificacion" value="#{infanteController.selected.identificacion}" title="#{bundle.EditInfanteTitle_identificacion}" required="true" requiredMessage="#{bundle.EditInfanteRequiredMessage_identificacion}"/>
                        <p:outputLabel value="#{bundle.EditInfanteLabel_fkMunicipio}" for="fkMunicipio" />
                        <p:selectOneMenu id="fkMunicipio" value="#{infanteController.selected.fkMunicipio}" required="true" requiredMessage="#{bundle.EditInfanteRequiredMessage_fkMunicipio}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{municipioController.itemsAvailableSelectOne}"
                                           var="fkMunicipioItem"
                                           itemValue="#{fkMunicipioItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{infanteController.update}" value="#{bundle.Save}" update="display,:InfanteListForm:datalist,:growl" oncomplete="handleSubmit(args, 'InfanteEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="InfanteEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
