<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="InfanteViewDlg" widgetVar="InfanteViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewInfanteTitle}">
            <h:form id="InfanteViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{infanteController.selected != null}">
                        <h:outputText value="#{bundle.ViewInfanteLabel_nombre}"/>
                        <h:outputText value="#{infanteController.selected.nombre}" title="#{bundle.ViewInfanteTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewInfanteLabel_edad}"/>
                        <h:outputText value="#{infanteController.selected.edad}" title="#{bundle.ViewInfanteTitle_edad}"/>
                        <h:outputText value="#{bundle.ViewInfanteLabel_identificacion}"/>
                        <h:outputText value="#{infanteController.selected.identificacion}" title="#{bundle.ViewInfanteTitle_identificacion}"/>
                        <h:outputText value="#{bundle.ViewInfanteLabel_fkMunicipio}"/>
                        <h:outputText value="#{infanteController.selected.fkMunicipio}" title="#{bundle.ViewInfanteTitle_fkMunicipio}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="InfanteViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
