<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MunicipioCreateDlg" widgetVar="MunicipioCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateMunicipioTitle}">
            <h:form id="MunicipioCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{municipioController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateMunicipioLabel_codigo}" for="codigo" />
                        <p:inputText id="codigo" value="#{municipioController.selected.codigo}" title="#{bundle.CreateMunicipioTitle_codigo}" required="true" requiredMessage="#{bundle.CreateMunicipioRequiredMessage_codigo}"/>
                        <p:outputLabel value="#{bundle.CreateMunicipioLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{municipioController.selected.nombre}" title="#{bundle.CreateMunicipioTitle_nombre}" />
                        <p:outputLabel value="#{bundle.CreateMunicipioLabel_fkDepartamento}" for="fkDepartamento" />
                        <p:selectOneMenu id="fkDepartamento" value="#{municipioController.selected.fkDepartamento}" required="true" requiredMessage="#{bundle.EditMunicipioRequiredMessage_fkDepartamento}">
                            <f:selectItems value="#{departamentoController.itemsAvailableSelectOne}"
                                           var="fkDepartamentoItem"
                                           itemValue="#{fkDepartamentoItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{municipioController.create}" value="#{bundle.Save}" update="display,:MunicipioListForm:datalist,:growl" oncomplete="handleSubmit(args,'MunicipioCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="MunicipioCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
