<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MunicipioViewDlg" widgetVar="MunicipioViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewMunicipioTitle}">
            <h:form id="MunicipioViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{municipioController.selected != null}">
                        <h:outputText value="#{bundle.ViewMunicipioLabel_codigo}"/>
                        <h:outputText value="#{municipioController.selected.codigo}" title="#{bundle.ViewMunicipioTitle_codigo}"/>
                        <h:outputText value="#{bundle.ViewMunicipioLabel_nombre}"/>
                        <h:outputText value="#{municipioController.selected.nombre}" title="#{bundle.ViewMunicipioTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewMunicipioLabel_fkDepartamento}"/>
                        <h:outputText value="#{municipioController.selected.fkDepartamento}" title="#{bundle.ViewMunicipioTitle_fkDepartamento}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="MunicipioViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
